footer{
    background-color:$colorClinica;
    .parrafoPie{
        color: white;
        font-size: 14px;
    }
    
}
.footerFCM{
    background-color:$colorFundacion;
}

.redes a{
    color: white;
    font-size: 40px;
}